# Google Drive & Windows System Files
.DS_Store
Thumbs.db
desktop.ini
Icon?

# VS Code Metadata
.vscode/

# Ignore any potential log files
*.log

#ignore the backup
Backup/

#Private/Internal administrative tools
lab-admin-portal.html
registry_tool.html